*{
  margin:0;
  padding:0;
}
 .font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.font-poppins {
  font-family: "Poppins", sans-serif;
 
}
header{
  width:100%;
  height:669px;
  background-image: url(../images/donation2.jpg);
  background-position: cover;
 background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  /* font-family: Inter; */
 
}
header .header-container{

 max-width:1440px ;
      margin:0 auto;
      text-align: center;
      /* background-color:#FFF8F3 ; */
      padding-top: 174px;

}
 .header-content{
width:826px;
 text-align: center;
 margin:0 auto;


}
.header-container .header-content h2{
  font-size:65px;
  font-weight:900 ;
  color:#000;
  margin-bottom: 20px;
  font-family:"Inter", sans-serif;

}
.header-container .header-content p{
  font-size:18px;
  margin-bottom:30px;
  color:#fff;
  margin-bottom: 20px;
  font-family:Poppins;
  line-height: 28px;

}
.header-content .btn{
padding:16px 20px;
background-color: #FF5959;
border-radius: 5px;
border:none;
}
 